<?php
/**
 * Repository definition for %pClassName%
 * @package %pMapperPrefix%_Entity
 * @author Mirek Ratman
 * @version 1.0
 * @since %pDate%
 * @license The MIT License (MIT)
 * @copyright %pYear% creoLIFE.pl
    Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
    The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/
defined("_APP_ACCESS") or die(header("HTTP/1.0 404 Not Found"));

class %pMapperPrefix%_Entity_%pClassName%
{

    <phpDBMapper:params>
    /**
     * @var $%pColumnName%
     */
    public $%pColumnName%;
    </phpDBMapper:params>

    <phpDBMapper:methods>
    /**
    * Method will set parameter using delivered varible
    * @method set%pColumnNameFixed%
    * @param [%pColumnType%] $%pColumnName% = data to save
    * @return [boolean]
    */
    public function set%pColumnNameFixed%( $%pColumnName% ){
        $validator = new Zend_Validate_Int();
        if ($validator->isValid( $%pColumnName% )) {
            $this->%pColumnName% = $%pColumnName%;
            return true;
        } else {
            return false;
        }
    }

    /**
    * Method will get saved parameter
    * @method get%pColumnNameFixed%
    * @return [boolean]
    */
    public function get%pColumnNameFixed%(){
        $validator = new Zend_Validate_Int();
        if ($validator->isValid( $this->%pColumnName% )) {
            return $this->%pColumnName%;
        } else {
            return false;
        }
    }
    </phpDBMapper:methods>
}