<?php
/**
 * Repository definition for %pClassName%
 * @package %pMapperPrefix%_Dao
 * @author Mirek Ratman
 * @version 1.0
 * @since %pDate%
 * @license The MIT License (MIT)
 * @copyright %pYear% creoLIFE.pl
    Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
    The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/
defined("_APP_ACCESS") or die(header("HTTP/1.0 404 Not Found"));

class %pMapperPrefix%_Repository_Base_%pClassName%
{
    private $dao;

    private $dbConfig;

    /**
    * Class constructor
    * @method __construct
    */
    public function __construct( $dbConfig = false ){
        //Set defaults
        $config = Zend_Registry::get('config');
        
        if( isset($config->database->%pDbConfig%) ){
            $this->dbConfig = $config->database->%pDbConfig%;
        }
        else{
            if( $dbConfig ){
                $this->dbConfig = $dbConfig;
            }
        }
    }

    /**
    * Method will set DAO
    * @method setDao
    * @return mixed
    */
    public function setDao(%pMapperPrefix%_Dao_%pClassName% $dao){
        $this->dao = $dao;
    }

    /**
    * Method will get DAO
    * @method getDao
    * @return mixed
    */
    public function getDao(){
        if (null === $this->dao) {
            $this->setDao( new %pMapperPrefix%_Dao_%pClassName%( $this->dbConfig ) );
        }
        return $this->dao;
    }

    /**
    * Method will get table metadata
    * @method _getMetadata
    * @param [string] $columnName = name of column
    * @return array
    */
    public function _getMetadata( $columnName = null ){
        $list = $this->getDao()->getMetadata();
        if( empty($columnName) ){
            return $list;
        }
        else{
            foreach( $list as $key=>$val ){
                if( $columnName === $key ){
                    return $val;
                }
            }
        }
    }

    <phpDBMapper:methods>
    /**
    * Method will get row 
    * @method get%pColumnNameFixed%
    * @param [%pColumnType%] $%pColumnName% = parameter to search in DB
    * @return mixed
    */
    public function get%pColumnNameFixed%( $%pColumnName% ){
        //Definition
        $result = array();
        $mapper = new %pMapperPrefix%_Mapper_%pClassName%();

        $validator = new Zend_Validate_%pValidator%(%pValidatorPattern%);
        if ($validator->isValid( $%pColumnName% )) {
            $row = $this->getDao()->fetchRow( $%pColumnName% );
        }

        $result = $mapper->assign(new %pMapperPrefix%_Entity_%pClassName%(), $row);

        return $result;
    }

    /**
    * Method will check if element in %pColumnNameFixed% exists 
    * @method check%pColumnNameFixed%Exists
    * @param [%pColumnType%] $value = parameter to check if exists in DB
    * @return mixed
    */
    public function check%pColumnNameFixed%Exists( $value ){
        //Definition
        $result = true;

        $validator = new Zend_Validate_%pValidator%(%pValidatorPattern%);
        if ($validator->isValid( $value )) {
            $result = $this->getDao()->exists( '%pColumnName%', $value );
        }

        return $result;
    }
    </phpDBMapper:methods>


}
